## Regression model for predicting housing prices in Cairo, Egypt.

In [4]:
# import relevant libraries
import pandas as pd
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [43]:
# Read the housing data into a dataframe called home_data

home_data = pd.read_csv('Cairo_properties.csv')

## Assess the data

In [8]:
# visually assess the data
home_data.head()

,type,title,location,bedroom,bathroom,size_sqm,price
0,Duplex,Prime Location Duplex Fully Finished With A\C,"Park View, North Investors Area, New Cairo Cit...",4,4,345,"6,850,000"
1,Villa,Town house resale at Mivida Emaar with best price,"Mivida, 5th Settlement Compounds, The 5th Sett...",3,3,285,"10,000,000"
2,Apartment,Lake View Residence - Apartment | Prime Location,"Lake View Residence, 5th Settlement Compounds,...",3,3,210,"5,700,000"
3,Townhouse,Best Penthouse for sale in villette ( sky conds ),"La Vista City, New Capital Compounds, New Capi...",4,4,230,"7,510,000"
4,Penthouse,2nd Floor | Fully Finished | Lowest Price |Par...,"Villette, 5th Settlement Compounds, The 5th Se...",5,6,284,"8,511,300"

In [25]:
# do some progrmmatic assessment
home_data.describe()
home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11418 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      11418 non-null  object
 1   title     11418 non-null  object
 2   location  11418 non-null  object
 3   bedroom   11418 non-null  object
 4   bathroom  11418 non-null  int64
 5   size_sqm  11418 non-null  object
 6   price     11418 non-null  object
dtypes: int64(1), object(6)
memory usage: 624.5+ KB

In [14]:
#check unique values in the type column
home_data['type'].unique()

array(['Duplex', 'Villa', 'Apartment', 'Townhouse', 'Penthouse', 'iVilla',
       'Twin House', 'Hotel Apartment', 'Chalet', 'Compound'],
      dtype=object)

In [16]:
#check the count of each type
home_data['type'].value_counts()

Apartment          5848
Villa              2845
Townhouse           858
Twin House          601
Duplex              568
Penthouse           448
iVilla              199
Hotel Apartment      34
Chalet               14
Compound              3
Name: type, dtype: int64

### Data Quality Issues 
1. Non-numeric data in the price column making the column of data type object.

2. Commas present in the price column

2.  Data types of the following columns are object instead of int or float: 
    * bedroom
    * size_sqm

3. Datatype of the type column is object instead of category

## Do a little Data Cleaning

### Issue 1: Non-numeric data in the price column making the column of data type object.Also, commas present in the price column.

Define: Use the extract function to extract the numeric data from the price column and convert to float.

Code:

In [44]:
#extract only numeric rows in the price column
home_data.price = home_data['price'].str.extract(r'(\d+)').astype(float)

Test

In [45]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11418 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      11418 non-null  object
 1   title     11418 non-null  object
 2   location  11418 non-null  object
 3   bedroom   11418 non-null  object
 4   bathroom  11418 non-null  int64
 5   size_sqm  11418 non-null  object
 6   price     11006 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 624.5+ KB

This has introduced Null values in the price column. We will drop these rows.

### Issue 1b: Null values in the price column

Define: Drop the rows with null values in the price column

Code:

In [48]:
#drop the rows with missing values in the price column
home_data = home_data.dropna(subset=['price'])

Test

In [49]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11006 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      11006 non-null  object
 1   title     11006 non-null  object
 2   location  11006 non-null  object
 3   bedroom   11006 non-null  object
 4   bathroom  11006 non-null  int64
 5   size_sqm  11006 non-null  object
 6   price     11006 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 687.9+ KB

### Issue 2: Data types of the following columns are object instead of int or float: 
    * bedroom
    * size_sqm

Define: Use the astype function to convert the data type of the columns to int and float respectively.

Code:

In [62]:
# convert the bedroom column to int but we have to extract the numeric values first
home_data.bedroom = home_data['bedroom'].str.extract(r'(\d+)').astype(float)

In [55]:
# convert the size_sqm column to float but we have to extract only the numeric values
home_data.size_sqm = home_data['size_sqm'].str.extract(r'(\d+)').astype(float)

Test

In [63]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11006 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      11006 non-null  object
 1   title     11006 non-null  object
 2   location  11006 non-null  object
 3   bedroom   10970 non-null  float64
 4   bathroom  11006 non-null  int32
 5   size_sqm  11006 non-null  float64
 6   price     11006 non-null  float64
dtypes: float64(3), int32(1), object(3)
memory usage: 644.9+ KB

This has introduced Null values in the bedroom column. We will drop these rows.

### Issue 2b: Null values in the bedroom column 

Define: Drop the rows with null values in the bedroom column with the dropna function.

Code:

In [64]:
# drop the rows with missing values in the bedroom column
home_data = home_data.dropna(subset=['bedroom'])

Test

In [65]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10970 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      10970 non-null  object
 1   title     10970 non-null  object
 2   location  10970 non-null  object
 3   bedroom   10970 non-null  float64
 4   bathroom  10970 non-null  int32
 5   size_sqm  10970 non-null  float64
 6   price     10970 non-null  float64
dtypes: float64(3), int32(1), object(3)
memory usage: 642.8+ KB

### Issue 3: Datatype of the type column is object instead of category

Define: Use the astype function to convert the data type of the type column to category.

Code:

In [66]:
# convert the type column to categorical
home_data.type = home_data.type.astype('category')

Test

In [67]:
home_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10970 entries, 0 to 11417
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      10970 non-null  category
 1   title     10970 non-null  object
 2   location  10970 non-null  object
 3   bedroom   10970 non-null  float64
 4   bathroom  10970 non-null  int32
 5   size_sqm  10970 non-null  float64
 6   price     10970 non-null  float64
dtypes: category(1), float64(3), int32(1), object(2)
memory usage: 568.2+ KB

In [68]:
home_data.describe()

            bedroom      bathroom      size_sqm         price
count  10970.000000  10970.000000  10970.000000  10970.000000
mean       3.449225      3.329262    260.270009      6.580036
std        1.174773      1.305567    159.676889      9.288796
min        0.000000      1.000000      1.000000      1.000000
25%        3.000000      2.000000    161.000000      2.000000
50%        3.000000      3.000000    212.000000      4.000000
75%        4.000000      4.000000    310.000000      8.000000
max        8.000000      8.000000    980.000000    418.000000

# Now to build the model

In [72]:
# Create the dependent and independent variables Y and X respectively
y = home_data.price
# Create 
features = ['bedroom', 'size_sqm']
X = home_data[features]

In [73]:
# Split into validation and training data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

In [74]:
# Specify Model
Cairo_housing_model = DecisionTreeRegressor(random_state=1)
# Fit Model
Cairo_housing_model.fit(train_X, train_y)

DecisionTreeRegressor(random_state=1)

In [75]:
# Make validation predictions and calculate mean absolute error
val_predictions = Cairo_housing_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE when not specifying max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE when not specifying max_leaf_nodes: 3

In [78]:
# Using best value for max_leaf_nodes
Cairo_housing_model = DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)
Cairo_housing_model.fit(train_X, train_y)
val_predictions = Cairo_housing_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE for best value of max_leaf_nodes: 3

### Create the pickle file